<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="Dcms.Orm">
      <section name="DataBase" type="Dcms.Orm.DataBaseSection,Dcms.Orm"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="WebSite" value="/"/>
    <!--设计师帐号及企业主帐号-->
    <add key="superUser" value="dcms,admin"/>
    <!--模板存放的路径-->
    <add key="TempLatePath" value="~/template/"/>
    <!--存放生成后的aspx页面路径-->
    <add key="AspxPath" value="~/aspx/"/>
  </appSettings>
	<system.web>
    <httpRuntime maxRequestLength="2097151" executionTimeout="300" />
    <customErrors mode="Off"/>
    <httpModules>
      <add type="UrlRewrite.ModuleRewriter,UrlRewrite" name="ModuleRewriter" />
    </httpModules>
    <compilation debug="false" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8"/>
    <pages validateRequest="false"/>
		<authentication mode="Windows"/>
	</system.web>
	<system.codedom>
	</system.codedom>
  <system.webServer>
    <modules>
      <add type="UrlRewrite.ModuleRewriter,UrlRewrite" name="ModuleRewriter" />
    </modules>
  </system.webServer>
  <Dcms.Orm>
    <DataBase>
      <items>
         <add name="SqlDb" connectionstring="Data Source=210.51.187.77;Initial Catalog=fullb81;Persist Security Info=True;User ID=fullb81;Password=Aa123123@" dbtype="SqlServer2000" /> 
      </items>
    </DataBase>
  </Dcms.Orm>
</configuration>
